@page "/contracts"
@using Luxuryphile.Web.Data
@using Luxuryphile.Api.Contract
@inject FakeDataService _fakeDataService
@inject NavigationManager _navigationManager

<PageTitle>Smlouvy</PageTitle>

<h1>Smlouvy</h1>

<div class="form-inline row mb-2">
    <div class="col-sm-6">
         <input type="text" class="form-control" @oninput="Search"/>
    </div>   
    <div class="col-sm-6">
        <a class="btn btn-primary" href="/contracts/create">Nová smlouva</a>
    </div>
</div>

@if (_contracts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>#Smlouvy</th>
            <th>Čas podepsání</th>
            <th>Prodejce</th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var contract in _contracts)
        {
            <tr>
                <td>@contract.Number</td>
                <td>@contract.DateCreated</td>
                <td>@contract.Seller</td>
                <td>
                    <a class="btn btn-primary" href='/contracts/@contract.Id'>Detail</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private ContractRow[]? _contracts;


    protected override async Task OnInitializedAsync()
    {
        _contracts = await _fakeDataService.GetContracts();
    }

    async Task Search(ChangeEventArgs arg)
    {
        _contracts = await _fakeDataService.GetContracts((string?)arg.Value);
    }
}